.formulate-input {
    margin-bottom: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol
}

.formulate-input-label {
    display: block;
    line-height: 1.5;
    font-size: 1em;
    margin-bottom: .1em
}

.formulate-input .formulate-input-label--before+.formulate-input-help--before {
    margin-top: -.25em;
    margin-bottom: .75em
}

.formulate-input .formulate-input-element {
    max-width: 20em;
    margin-bottom: .1em
}


.formulate-input .formulate-input-errors {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.formulate-input .formulate-file-upload-error,
.formulate-input .formulate-input-error {
    color: #960505;
    font-size: .8em;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: .25em
}

.formulate-input:last-child {
    margin-bottom: 0
}

.formulate-input[data-classification=text] input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .3em;
    border: 1px solid #cecece;
    box-sizing: border-box;
    background-color: transparent;
    font-size: .9em;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    padding: .75em;
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0
}

.formulate-input[data-classification=text] input::-moz-placeholder {
    color: #a8a8a8;
    line-height: normal
}

.formulate-input[data-classification=text] input:-ms-input-placeholder {
    color: #a8a8a8;
    line-height: normal
}

.formulate-input[data-classification=text] input::placeholder {
    color: #a8a8a8;
    line-height: normal
}

.formulate-input[data-classification=text] input:focus {
    outline: 0;
    border: 1px solid #fec107
}

.formulate-input[data-classification=text] .formulate-input-element--date input,
.formulate-input[data-classification=text] .formulate-input-element--datetime-local input,
.formulate-input[data-classification=text] .formulate-input-element--month input,
.formulate-input[data-classification=text] .formulate-input-element--week input {
    min-height: 2.2em
}

.formulate-input[data-classification=button] button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .3em;
    box-sizing: border-box;
    font-size: .9em;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    padding: .75em;
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
    border: 1px solid #fec107;
    background-color: #fec107;
    color: #fff;
    min-width: 0;
    width: auto;
    font-weight: 700;
    cursor: pointer;
    display: inline-flex;
    align-items: center
}

.formulate-input[data-classification=button] button::-moz-placeholder {
    color: #a8a8a8;
    line-height: normal
}

.formulate-input[data-classification=button] button:-ms-input-placeholder {
    color: #a8a8a8;
    line-height: normal
}

.formulate-input[data-classification=button] button::placeholder {
    color: #a8a8a8;
    line-height: normal
}

.formulate-input[data-classification=button] button:focus {
    outline: 0;
    border: 1px solid #fec107
}


.formulate-input[data-classification=button] button:active {
    background-color: #facb40;
    border-color: #facb40;

}

.formulate-input[data-classification=select] .formulate-input-element {
    position: relative
}

.formulate-input[data-classification=select] .formulate-input-element:before {
    content: "";
    width: 0;
    height: 0;
    border-color: #cecece transparent transparent;
    border-style: solid;
    border-width: .3em .3em 0;
    top: 50%;
    margin-top: -.1em;
    right: 1em;
    position: absolute
}

.formulate-input[data-classification=select] .formulate-input-element[data-multiple]:before {
    display: none
}

.formulate-input[data-classification=select] select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .3em;
    border: 1px solid #cecece;
    box-sizing: border-box;
    background-color: transparent;
    font-size: .9em;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
    padding: .75em 2em .75em .75em
}

.formulate-input[data-classification=select] select::-moz-placeholder {
    color: #a8a8a8;
    line-height: normal
}

.formulate-input[data-classification=select] select:-ms-input-placeholder {
    color: #a8a8a8;
    line-height: normal
}

.formulate-input[data-classification=select] select::placeholder {
    color: #a8a8a8;
    line-height: normal
}

.formulate-input[data-classification=select] select:focus {
    outline: 0;
    border: 1px solid #fec107
}

.formulate-input[data-classification=select] select option {
    color: #000
}

.formulate-input[data-classification=select] select option:disabled {
    color: #a8a8a8
}

.formulate-input[data-classification=select] select[multiple] {
    padding: 0;
    overflow-y: auto
}

.formulate-input[data-classification=select] select[multiple] option {
    padding: .75em
}

.formulate-input[data-classification=select] select[data-placeholder-selected] {
    color: #a8a8a8
}

.formulate-input[data-classification=box] .formulate-input-wrapper {
    display: flex;
    align-items: center
}

.formulate-input[data-classification=box] .formulate-input-element {
    overflow: hidden;
    display: flex;
    align-items: center
}

.formulate-input[data-classification=box] .formulate-input-element input {
    position: absolute;
    left: -999px;
    opacity: 0;
    pointer-events: none
}

.formulate-input[data-classification=box] .formulate-input-element-decorator {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: .25em;
    border: 1px solid #cecece;
    position: relative
}

.formulate-input[data-classification=box] .formulate-input-element-decorator:before {
    content: "";
    display: block;
    background-size: contain;
    background-position: 100%;
    width: calc(100% - .125em);
    height: calc(100% - .125em);
    box-sizing: border-box;
    position: absolute;
    top: .0625em;
    left: .0625em
}

.formulate-input[data-classification=box] .formulate-input-element[data-type=radio] .formulate-input-element-decorator {
    border-radius: 1em
}

.formulate-input[data-classification=box] .formulate-input-element[data-type=radio] .formulate-input-element-decorator:before {
    border-radius: 1em;
    width: calc(100% - .5em);
    height: calc(100% - .5em);
    top: .25em;
    left: .25em
}

.formulate-input[data-classification=box] .formulate-input-element input[type=checkbox]:checked~.formulate-input-element-decorator {
    border-color: #fec107
}

.formulate-input[data-classification=box] .formulate-input-element input[type=checkbox]:checked~.formulate-input-element-decorator:before {
    background-color: #fec107;
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M8.76,56.2c-6.38-6.34,3.26-16,9.64-9.69L38,65.88,80.56,23.29c6.38-6.38,16.07,3.32,9.69,9.69L42.84,80.37a6.83,6.83,0,0,1-9.65,0Z"/></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M8.76,56.2c-6.38-6.34,3.26-16,9.64-9.69L38,65.88,80.56,23.29c6.38-6.38,16.07,3.32,9.69,9.69L42.84,80.37a6.83,6.83,0,0,1-9.65,0Z"/></svg>')
}

.formulate-input[data-classification=box] .formulate-input-element input[type=radio]:checked~.formulate-input-element-decorator {
    border-color: #fec107
}

.formulate-input[data-classification=box] .formulate-input-element input[type=radio]:checked~.formulate-input-element-decorator:before {
    background-color: #fec107
}

.formulate-input[data-classification=box] .formulate-input-element input:focus~.formulate-input-element-decorator {
    border-color: #fec107
}

.formulate-input[data-classification=box] .formulate-input-label--after {
    margin-left: .5em
}

.formulate-input[data-classification=box] .formulate-input-label--before {
    margin-right: .5em
}


.formulate-form-errors {
    margin: .75em 0;
    padding: 0;
    list-style-type: none
}

.formulate-form-errors:first-child {
    margin-top: 0
}

.formulate-form-errors:last-child {
    margin-bottom: 0
}

.formulate-form-errors .formulate-form-error {
    color: #960505;
    font-size: .9em;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: .25em
}